@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image and cover text */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative
}

#cover-text,
#cover-text h2 {
    color: #fff;


}

#cover-text h2 {
    margin-top: 5px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(245, 168, 39, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;


}

/* Trainer Ethos */


#trainer-ethos {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}



.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

.right-about-heading h2 {
    text-align: left;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;

}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

/* What you can expect section*/

#expect {
    background-image: url('../images/expect-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}


#expect div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 10px;
    text-align: left;
    border: 2px solid white;
    box-sizing: border-box;
}

#expect h2 {
    color: #fafafa;

}

#title {
    text-align: center;

}

/* Page 2 - Training */



#keepmoving {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-bottom: -20px;
    width: 100%;
    height: 600px;
    font-size: 24px;
    letter-spacing: 2px;
}

#chanel {
    flex: 1;
}

#chanel iframe {
    width: 100%;
    height: 400px;
}

#title {
    flex: 1;
    padding: 0 20px;
    font-size: 30px;
}

#title h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#textcontent {
    font-size: 30px;
}

#title p {
    color: #666;
    font-size: 16px;
}

/* Styling section "testimonials" */
#testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 2px;
}

#peoplesaying {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;

}

#left,
#right,
#center {
    flex: 1;
    padding: 0 20px;
}

.left-heading,
.right-heading,
.center-heading {
    margin-bottom: 20px;
    color: #666;
}

/* Styling section "howitworks" */
#howitworks {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2px;

}

/* Styling section "centeredtext" */
#centeredtext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

#centeredtext div {
    max-width: 800px;
}

#centeredtext p {
    color: #666;
    font-size: 20px;
}

#locations {
    margin: 20px;
    margin-left: 120px;
}


/* Page 3 Contact Form */

.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


#signup {
    background-image: url("../images/contact.png");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-top: 80px;

}



#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    margin: 250px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 25px;
    font-size: 15px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

input[type="checkbox"] {

    transform: scale(2);
    margin-right: 12px;
    margin-bottom: 12px;
}

label {
    vertical-align: middle;
}

.checkbox {
    margin-top: 20px;
}




.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}


/* Footer */

.icons {
    margin-top: -250px;
    height: 150px;
}

.social-networks {
    margin-top: 100px;
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}



/* Media queries */

/* From larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #trainer-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;

    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #expect>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }


    hr {
        display: none;
    }

    /* Page 2- Training */

    #keepmoving {
        height: 500px;
        font-size: 20px;
    }

    #chanel iframe {
        height: 300px;
    }

    #title {
        font-size: 16px;
    }

    #textcontent {
        font-size: 24px;
    }

    #testimonials {
        font-size: 16px;
    }

    #peoplesaying {
        font-size: 20px;
    }

    #howitworks {
        font-size: 20px;
    }

    #centeredtext p {
        font-size: 16px;
    }



}




/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;

    }

    #trainer-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    /* Page 2 - Training */

    #keepmoving {
        height: 400px;
        font-size: 18px;
    }

    #chanel iframe {
        height: 250px;
    }

    #title {
        font-size: 14px;
    }

    #textcontent {
        font-size: 20px;
    }

    #testimonials {
        font-size: 14px;
    }

    #peoplesaying {
        font-size: 18px;
    }

    #howitworks {
        font-size: 18px;
    }

    #centeredtext p {
        font-size: 14px;
    }


}

/* For small screen sizes below 800px width */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}


/* Page 3 Contact Form Mobile screen */


@media only screen and (max-width: 600px) {

    #logo {
        font-size: 20px; 
    }

    #menu {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        margin-top: 40px;
    }

    #menu li {
        display: block;
        
    }

    #menu li a {
        display: block;
        text-align: center;
    }

    #signup {
        padding: 10px;
    }

    #signup-form {
        max-width: 300px;
        margin: 0 auto;
    }

    #signup-form h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    #signup-form label {
        font-size: 16px;
    }

    #signup-form input[type="text"],
    #signup-form input[type="email"],
    #signup-form input[type="checkbox"] {
        width: calc(100% - 20px); 
        margin-bottom: 15px; 
        padding: 10px; 
    }

    #signup-form button {
        width: 100%;
        margin-top: 20px;
    }

    footer {
        text-align: center;
    }

    .social-networks li {
        display: inline-block;
        margin: 0 5px;
    }
}

/* Media query for page 2 mobile screen */


@media (min-width: 768px) {

    #keepmoving,
    #howitworks,
    #testimonials {
    flex-direction: row;
    align-items: stretch; /* Align items for equal height columns */
    }
    
    #chanel iframe {
    height: 400px; /* Fixed height for larger screens */
    }
    
    #title,
    #left,
    #right,
    #center {
    flex: 1;
    padding: 0 20px;
    }
}